<div class="col">
    <form (ngSubmit)="onTodoSubmit()" [formGroup]="todoForm" novalidate>
        <div>
            <div class="form-group">
                <label for="title"><b>Title:</b></label>
                <input type="text" class="form-control" id="title" autocomplete="off" formControlName="title">
                <p class="help-block" *ngIf="!errors.valid && errors.controls.title.required">
                    *Title is required.
                </p>
            </div>
            <div class="form-group">
                <label for="description"><b>Description:</b></label>
                <textarea class="form-control" id="description" autocomplete="off" formControlName="description">

                </textarea>
                <p class="help-block" *ngIf="!errors.valid && errors.controls.description.required">
                    *Description is required.
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Create Todo</button>
        </div>
    </form>
</div>