<div class="col">
    <div class="form-group">
        <label for="title"><b>Title:</b></label>
        <input type="text" class="form-control" id="title" autocomplete="off" #title>
    </div>
    <div class="form-group">
        <label for="description"><b>Description:</b></label>
        <textarea class="form-control" id="description" autocomplete="off" #description></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="onCreateTodo(description)">Create Todo</button>
</div>